@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  opacity: 0.65;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
  background-image: image_url('trexoverlay.png'), image_url('dark-honeycomb.png');
  background-position: center bottom, left top;
  background-repeat: no-repeat, repeat;

	/* Monospace stack */
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

}

.navbar {
  background: image_url('dynamic-style.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {

  padding: 20px;
	font-family: 'pacificoregular', sans-serif;
  font-weight: 250;
  letter-spacing: -0.3px;
  font-size: 43px;
  color: #688269;
}

.navbar-toggler {
  background-color: #688269;
}


.page-item.active .page-link {
  background-color: #688269;
  border-color: #323233;
}

.nav-link {
  color: #688269;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-height: 500px;
  max-width: 100%;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  
}

.carousel-caption {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}